/*navigation*/
body {
  min-width: 240px;
}

.home {
    background-image: url('https://i.postimg.cc/5yHynv5z/pexels-oleksandr-tiupa-192136.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed; 
}

.home .container {
  height: 100vh;
}

nav {
    position: relative;
    padding-left: 100px;
    padding-right: 300px;  
}

.logo {   
  padding-top: 73px;
  width: 50%;
  height: 28px;
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 1.3px; 
}

.logo a {
  color: #fed336;
  text-decoration: none;
  font-style: italic;
  font-family: "Wisdom-Script";
}

nav .menu {
  width: 50%;
}

nav ul {
    list-style-type: none;
    padding-top: 73px;
    padding-left: 90px;
    display: flex;
}

.nav-menu li a {
  padding-right: 15px;
  text-decoration: none;
  height: 10px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 41px;
  text-align: center;
  text-transform: uppercase;
  /* Text style for "C, ontact" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}



/*Header*/

.splash-inner {
    color: #ffffff;
    padding-top: 50px;
}

/* Style for "Welcome To" */
.page-title {
  padding: 0 0 0 0;
  height: 32px;
  color: #ffffff;
  font-family: "Droid Serif";
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  line-height: normal;
  text-align: center; 
}

/* Style for "It’s nice..." */
.page-subtitle {
  height: 55px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 75px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;      
}

/* Style for "Tell Me More" */
button {
  /*margin: 50px 200px 50px 350px;*/
  margin: 100px auto;
  width: 240px;
  height: 65px;
  background-color: #fed136;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

/*Section: Services*/

.services .container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services .row {
  column-gap: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}



h2 {
  font-size: xx-large;
  white-space: nowrap;
}

/* Style for "Icon-Baske" */
.services i {
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: xx-large;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #fed136;
  background-color: #ffffff;
  color: #fed136;
}

/*Section: Portfolio*/

.portfolio {
  background-color: #f7f7f7;
}

.portfolio .row {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  
}

.portfolio .img-box {
  background-color: #ffffff;
  width: 250px;
  height: 400px;
}

/* Style for "Background" */


.portfolio img {
  width: 250px;
  height: 300px;
}

.portfolio h5 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 20px;
}

.portfolio h2 {
  margin-bottom: 0;
}

.portfolio p {
  color: #737373;
  font-family: "Droid Serif";
  font-size: 14px;
  font-style: italic;
  margin-top: 5px; 
}

/*footer*/

.footer p {
  margin-top: 40px;
  margin-left: 0;
}

.footer p a {
  text-decoration: none;
  color: #af9228;
}

.social-icons {
  list-style: none;
  text-align:left;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
 
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  transition: all $timing ease-out;  
}

.social-icons a {
  
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background-color: #737373;
}

@media (max-width: 1000px) {
  .menu {
    width: 100%;
  }
  .logo {
    justify-content: left;
  }
  .navbar {
    padding-left: 50px;
    padding-right: 50px;
  }
  .nav-menu {
    
    display: block;  
    text-align: right;
  }
  .page-subtitle {
    font-size: 45px;
  }
  .page-title {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  button {
  margin: 100px auto;
  width: 140px;
  height: 55px;
  font-size: 16px;
  font-weight: 600;
  }
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */